<div ng-controller="ProfileController as user" class="dater-profile-wrapper">
  <div class="top-strip">
    <div class="control-title-bar">
      <div class="nav-button previous-button" ng-click="user.goToMatch(-1)">
        <div class="button-icon"><%= fa_icon "arrow-left" %></div>
      </div>

      <h2>Browsing Matches</h2>
      
      <div class="nav-button next-button" ng-click="user.goToMatch(1)">
        <div class="button-icon"><%= fa_icon "arrow-right" %></div>
      </div>
      
    </div>

    <div class="filter-bar">
      <label for="order-select">Order by: </label>
      <select name="order-select" id="order-select">
        <option value="last_seen" selected>most recent login.</option>  
        <option value="last_seen">newest members.</option>  
        <option value="last_seen">random.</option>  
      </select>
    </div>

  </div>
  <%= render partial: 'profile' %>

</div>

<script>
  // this factory grabs an array of hashes containing basic information about other matches.
  <%= render "filtered_profile_list.js.erb" %>
</script>