// Colors
$beige        : #DFD06B;
$navy         : #112838;
$green        : #93AE29;
$lightgrey    : #8A9C8E;
$darkgrey     : #5E5E5E;
$verydarkgrey : #222222;

$red          : #D12C22;
$teal         : #019499;
$gold         : #FAD08D;

// Sizes
$footer-height : 110px;
$footer-padding: 130px !important;
$sidebar-width: 200px;
$message-thumbnail-size: 50px;
$profile-radius: 1rem;