// Some basic project-wide styles

@import 'variables';
@import 'mixins';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  z-index: 2;

  &.with-sidebar {
    height: 100%; // The 'section' a few lines below takes care of min-height, for footer placement
    padding-left: $sidebar-width;
  }

  // main sidebar
  & > aside {
    header {
      margin: 0;
      font-family: 'Raleway';
      font-weight: 700;
      text-align: center;
      background: #333;

      h1 {
        padding: 0.6rem 0;
        margin: 0;
        text-shadow: 
          0.5px 0.5px 0px #111,
          1px 1px 0px #111,
          1.5px 1.5px 0px #000,
          2px 2px 0px #000
        ;
      }
    }
    
    .profile-img {
      position: relative;
      padding: 1rem;
      background: shade($teal, 40%);
      border-top: 1px solid shade($teal, 80%);
      border-bottom: 3px solid tint($teal, 15%);

      img {
        width: 100%;
        border-radius: 0.5rem;
        border-bottom: 3px solid shade($teal, 80%);
        border-top: 1px solid tint($teal, 10%);
      }

      .edit-profile-mouseover {
        display: none;
        position: absolute;
        bottom: 22px;
        width: 168px;
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        text-align: center;
        background: $green;
        text-shadow: 1px 1px 0px darken($green, 15%);
      }
      &:hover .edit-profile-mouseover {
        display: block;
      }
    }

    width: $sidebar-width;
    z-index: 3;
    position: fixed;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background: shade($teal, 15%);
    color: #FFF;

    h2 {
      color: $green;
      font-size: 2rem;
      text-align: center;
    }

    nav {
      margin-top: 0.5rem;
      
      li {
        display: block;
        text-align: right;

        &:hover {
          background: darken($teal, 10%);
        }
      }
      span {
        float: left;
      }
      a {
        display: block;
        text-decoration: none;
        color: #FFF;
        font-weight: 400;
        padding: 0.6rem;
        border-bottom: 1px solid darken($teal, 10%);

        &:hover {
          color: $gold;
        }
      }
    }
    
    .bottom-buttons {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      text-align: center;

      button {
        @include gradient_button;
        background: #222;
        width: 168px;
        padding: 0.5rem;
        font-size: 1rem;
        margin: 0.3rem 0;

        &:hover {
          transition: 0.3s;
          background: $green;
          color: #000;
        }
      }
    }

  }

  // main content
  & > section {
    position: relative;
    background: #222;
    padding: 30px;
    min-height: 100%;
  }
}

// Because our footer is absolute, we don't want stuff getting hidden behind it.
// This simple div adds empty space behind it, if needed.
.footer-spacing {
  position: relative;
  height: $footer-padding;
}
.main-footer {
  width:100%;
  height:$footer-height;
  position:absolute;
  z-index: 3;
  bottom:0;
  left:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0 0.5rem;
}

.alert {
  position: relative;
  width: 100%;
  border-radius: 1px 1px 2px 2px;
  padding: 0.5rem;
  margin: 1.5rem 0;
  font-weight: 400;
}

.alert-success {
  background: shade($green, 5%);
  border-bottom: 1px solid shade($green, 40%);
  text-shadow: 1px 1px 0px shade($green, 15%);
}
.alert-danger {
  background: shade($red, 15%);
  border-bottom: 1px solid shade($red, 50%);
  text-shadow: 1px 1px 0px shade($red, 25%);
}

.tooltip {
  font-size: 0.7em;
  vertical-align: super;
  color: $gold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
display: none !important;
}


// Resolutions under 1024px
@media screen and (max-width: 1024px) {
  .wrapper {
    &.with-sidebar {
      padding-left: $mobile-sidebar-width;
    }

    & > aside {
      width: $mobile-sidebar-width;

      .hidden-in-mobile, .nav-text-link {
        display: none;
      }
    }

    .profile-img:hover .edit-profile-mouseover {
        display: none !important;
      }

  }
}

