// Some basic project-wide styles

@import 'variables';
@import 'mixins';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  &.with-sidebar {
    height: 100%; // The 'section' a few lines below takes care of min-height, for footer placement
    padding-left: $sidebar-width;
  }

  // main sidebar
  & > aside {
    width: $sidebar-width;
    z-index: 10;
    position: fixed;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background: #CCC;
    color: #FFF;

    h2 {
      color: $green;
      font-size: 2rem;
      text-align: center;
    }

    nav {
      margin-top: 2.5rem;
      min-height: 400px;  
    }
  }

  // main content
  & > section {
    position: relative;
    background: #f3f5f9;
    padding: 30px;
    min-height: 100%;
  }
}

// Because our footer is absolute, we don't want stuff getting hidden behind it.
// This simple div adds empty space behind it, if needed.
.footer-spacing {
  position: relative;
  height: $footer-padding;
}
footer {
  width:100%;
  height:$footer-height;
  position:absolute;
  z-index: 3;
  bottom:0;
  left:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0 0.5rem;
}

.alert {
  position: relative;
  width: 100%;
  border-radius: 1px 1px 2px 2px;
  padding: 0.5rem;
  margin: 1.5rem 0;
  font-weight: 400;
}

.alert-success {
  background: shade($green, 5%);
  border-bottom: 1px solid shade($green, 40%);
  text-shadow: 1px 1px 0px shade($green, 15%);
}
.alert-danger {
  background: shade($red, 15%);
  border-bottom: 1px solid shade($red, 50%);
  text-shadow: 1px 1px 0px shade($red, 25%);
}




