@import 'variables';
@import 'mixins';

.message-wrapper {
  .received, .sent {
    @include span-columns(6);
  }

  table {
    width: 100%;
    background: #EEE;    

    td {
      background: #FFF;
      padding: 6px;
      border-right: 1px dotted #CCC;
      border-bottom: 2px solid #EEE;
    }
    td:last-of-type {
      border-right: 0px;
    }
  }

  .message-thumbnail-cell {
    width: $message-thumbnail-size;
  }
  .message-thumbnail {
    width: $message-thumbnail-size;
    height: $message-thumbnail-size;
    background-size: cover;
    border-radius: 5px;
  }

  .user_name {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
    color: $teal;
  }
  .message_preview {
    font-size: 0.75em;
    margin-top: 0.5rem;
  }
}