// The sign-up process is its own thing, pretty much.

@import 'variables';
@import 'mixins';

.onboarding_body {
  background: $verydarkgrey;
  color: #EEE;

  .bg-teal {
    @include bg_teal;
    padding: 2rem 0 1rem 0;
    border-bottom: 4px solid shade($teal, 40%)
  }

  // The teal header, above the registration form.
  header {
    h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
      padding-bottom: 1.2rem;
    }

    h3 {
      margin: 0 0 1.5rem 0;
      color: lighten(#6DD1C5, 10%); 
      font-size: 1.2em;
      line-height: 1.5em;
    }

    strong {
      color: $gold;
    }
  }

  // Two of these exist: Inside the teal header, and below it, wrapping main content.
  .onboard-wrapper {
    // For mobile and tablet views we want it to take up pretty much the whole width.
    // For large laptops and desktops, we want it to be a fixed, centered chunk.
    width: 100%;
    max-width: 700px;   
    position: relative;
    margin: 0 auto;
    padding: 1rem;
  }

  .registration-paragraph {
    text-align: justify;
  }
  input, button {
    color: #000;
  }
  input[type=radio] {
    display: none;
  }  
  input[type=text], input[type=email], input[type=number], input[type=password] {
    font-weight: 300;
    border: 1px solid #555;
    border-radius: 3px;
    padding: 0.4rem;
    outline: none;
    transition: 0.5s;
    border-bottom: 3px solid transparent;

    &.ng-valid.ng-dirty {
      border-bottom: 3px solid #93AE29;
      transition: 0.25s;
    }
    &.ng-invalid.ng-dirty {
      border-bottom: 3px solid #D41E18;
      transition: 0.25s;
    }
  }
  .sex-select {
    text-align: center;
    display: inline-block;
    background: lighten($verydarkgrey, 6%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.2s;

    &.selected {
      background: #93AE29 !important;
      color: #222;
      transition: 0.2s;
    }
  }

  .form-section-heading {
    color: #F4EFEF;
    line-height: 42px;
    font-size: 1.3em;


    // Every section heading is going to have a circled number prefacing it. We're doing it with a 
    // before pseudoelement.
    &:before {
      content: attr(data-number);
      position: relative;
      width: 42px;
      height: 42px;
      line-height: 30px;
      display: block;
      float: left;
      margin-right: 1rem;
      padding: 5px;
      text-align: center;
      font-weight: bold;
      color: $gold;

      border: 1px solid #9CB1B6;
      border-radius: 100%;
    }
  }
  fieldset {
    border: 0;
    width: 90%;
    padding: 0.5rem;
    border-radius: 6px;
    margin: 0 auto;
    background: lighten($verydarkgrey, 10%);
  }
  .form-row {
    font-weight: 400;
    padding: 0.4rem;

    .form-label {
      line-height: 34px;
    }
  }

  .next-button-div {
    width: 90%;
    margin: 0 auto;
    text-align: right;

    button {
      background: $teal;
      text-shadow: 0.5px 0.5px 0px shade($teal, 20%), 1px 1px 0px shade($teal, 20%);
      @include onboard_button;
    }
  }

  .submit-button-div {
    @extend .next-button-div;

    input {
      background: shade($green, 5%);
      text-shadow: 0.5px 0.5px 0px shade($green, 20%), 1px 1px 0px shade($green, 20%);
      @include onboard_button;
    }
  }

  .help-block {
    margin: 0;
    margin-top: 0.4rem;
    text-align: center;
    color: #F44;
    font-size: 0.9em;
  }

}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.half-width-spaced {
  width: 47%;
  margin-right: 3%;
}
.third-width {
  width: 34%;
}
.third-width-spaced {
  width: 30%;
  margin-right: 3%;
}

// Mobile styles
@media screen and (min-width: 300px) {
  .next-button-div, .submit-button-div {
    padding: 1rem 0;
    
    button, input {
      width: 100%;
      padding: 0.5rem 2rem;
    }
  }
}

// Non-mobile styles
@media screen and (min-width:480px) {
  .form-row {
    display: flex;

    .form-label {
      padding-right: 1rem;
      text-align: right;
      flex-basis: 160px;
    }
    .form-input {
      flex: 1;
    }
  }

  .next-button-div button, .submit-button-div input {
    width: auto !important;
    padding: 0.5rem 4rem !important;

  }
}

