<div ng-controller="FlashNoticesController as flash" ng-cloak>
  <div class="flash" ng-show="flash.show">
    <div class="close" ng-click="flash.show = false"><%= fa_icon "close" %></div>
    <div class="message">{{flash.message}}</div>
    <div class="background notice" ng-show="flash.show === 'notice'"></div>
    <div class="background alert" ng-show="flash.show === 'alert'"></div>
  </div>
  <div class="flash-spacer" size-spacer-by-flash></div>
</div>

<script type="text/javascript">
  <%= render partial: 'layouts/flash_messages_factory.js.erb' %>  
</script>
