<div ng-controller="FlashNoticesController as flash">
  
  <% if notice && !notice.blank? %>
    <div class="alert alert-success" ng-show="flash.notice">
      <div class="close" ng-click="flash.notice = false"><%= fa_icon "close" %></div>
      <%= notice %>
    </div>
    <div class="alert-spacer" size-spacer-by-alert alert=".alert-success" ng-show="flash.notice"></div>
  <% end %>
  <% if alert && !alert.blank? %>
    <div class="alert alert-danger" ng-show="flash.danger">
      <div class="close" ng-click="flash.danger = false"><%= fa_icon "close" %></div>
      <%= alert %>
    </div>
    <div class="alert-spacer" size-spacer-by-alert alert=".alert-danger" ng-show="flash.danger"></div>
  <% end %>
</div>