<aside>
  <header>
    <%= image_tag current_user.primary_profile_photo_thumb %>
  </header>
  <!-- <h1>Kinected</h1> -->
  <nav>
    <ul>
      <li><%= link_to "Browse", daters_path, id: 'sidebar-browse-link' %></li>
      <li><%= link_to "Messages", messages_path, id: 'sidebar-messages-link' %></li>
      <li>Concierge</li>
    </ul>
  </nav>
</aside>